html {
    font-family:  serif;
}

[lang="zh-Hans"] {
    font-family:  serif;
}

li {
    line-height:200%;
}

h1, h2 {
    text-align: center;
}

a:hover {
    text-decoration: none;
}

body {
    background-image: 'none';  
}

#main {
    padding: 20px 20px 20px 400px;
}

.twocol {
    display: flex;
}

.twocol div {
    flex: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: scroll;
    height: 95%;
    width: 350px;
    align-items: center;
    justify-content: space-around;
    margin: 10px auto auto 10px;
    padding: 0 5px 0 5px;
}

.sidebar ul {
    list-style-type: none;
}
 

#lastUpdate {
    font-size: 90%;
    color:red;
}
 
#profile {
    height: 180px;
    object-fit: contain;
    margin: 15px auto;
}

.myname {
    font-size: larger;
}
