html {
    font-family:  serif;
}

[lang="zh-Hans"] {
    font-family:  serif;
}

li {
    line-height:200%;
}

h1, h2 {
    text-align: center;
}

a:hover {
    text-decoration: none;
}


#main {
    padding: 20px 20px 20px 310px;
}

.twocol {
    display: flex;
}

.twocol div {
    flex: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: scroll;
    height: 700px;
    width: 200px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    line-height: 200%;
    padding: 0 0 0 15px;
}

.sidebar a {
    display: inline-block;
}
 

#lastUpdate {
    font-size: 80%;
    color:red;
}
 
#profile {
    height: 180px;
    object-fit: contain;
    margin: 15px auto;
}

.myname {
    font-size: larger;
}
